.inpt {
  border-radius: 30px;
  border: 0;
  padding: 1em 2em;

  &:focus, &:active {
    outline: none;
  }
}

.error {
  position: relative;

  input {
    border: 2px solid red;
    color: red;
  }

  &::after {
    content: "Please insert a valid email";
    position: absolute;
    bottom: -20px;
    left: 20px;
    font-size: 0.6rem;
    color: red;
  }
}